---
title: Over paperwork
description: Wat is paperwork en waarom heb ik het nodig?
permalink: /about/
---

<div class="content-centered padding-top-15">
  <h4>Wat is Paperwork en waarom heb ik het nodig?</h4>
  <p>
    Paperwork is een administratieve applicatie voor kleinere ondernemingen die
    snel en eenvoudig klanten en contactmomenten willen registreren en zich geen
    zorgen willen maken om het samenstellen van bijvoorbeeld een factuur,
    Paperwork zorgt ervoor dat deze handelingen snel, betrouwbaar en eenvoudig
    te realiseren zijn.
  </p>
  <h4>Hoe werkt het</h4>
  <p>
    Paperwork biedt een abonnement waardoor je administratie eenvoudig en
    betrouwbaar af te handelen is, de laatste technieken en methodieken worden
    ingezet, zodat jij je kunt focussen op datgene waar je mee bezig wilt zijn:
    de zorg voor je klant.
  </p>
  <h4>Abonnement</h4>
  <p>
    Geen ingewikkelde installaties, of randvoorwaarden, maar gewoon een website
    via de browser, altijd bereikbaar, met zorg gemaakt en onderhouden. Je neemt
    alleen een abonnement af, alle technische zaken worden voor je geregeld.
  </p>
  <div class="cta button">
    <a href="https://app.paper-work.nl/subscribe">Probeer uit</a>
  </div>
  <h4>Wensen</h4>
  <p>
    Ook al doen wij ons best alles zo eenvoudig mogelijk te houden, het kan
    altijd zijn dat je wensen hebt waardoor Paperwork nog beter kan worden, laat
    het ons weten, want wij horen het graag. Misschien zie je jou wens sneller
    als feature verschijnen dan je denkt!
  </p>
  <div class="cta button">
    <a href="{{ site.baseurl }}/contact/">Stel voor</a>
  </div>
</div>

<!-- <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/"
    class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
  {% for person in site.staff_members %}
  <li>
    <div class="square-image"><img src="{% include relative-src.html src=person.image_path %}"
        alt="{{ person.name }}" /></div>
    <div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
    <div class="position">{{ person.position }}</div>
  </li>
  {% endfor %}
</ul> -->
